@tailwind base;
@tailwind components;
@tailwind utilities;
  @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@700&family=Nunito+Sans:opsz@6..12&display=swap');



body {
    font-family: 'Nunito Sans', sans-serif;
}

.haha {
    color: black;
    
}




.container1 {
    width: 75%;
}

.capa {
    color: #7dd3fc;
}

.capa4 {
    color: #2260B5;
}

.capa2 {
    background-color:  #2260B5;
    border-radius: 22px;
}

.eme {
    background-color: #fdf2f8;
    color: black
}

.hidder {
    opacity: 0;
    transition: all 2s;
    filter: blur(10px);
    transform: translateX(-100%)
}

.hidders {
    opacity: 0;
    transition: all 2s;
    filter: blur(10px);
    transform: translateY(-100%)
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.shows {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.park {
    display: none;
}

.fash {
    background-color: #D8A33A;
    padding: 0px;
    border-radius: 15px;
    color: white;
}

.txts {
    font-size: 76px;
    line-height: 85px;
}

.heros {
    font-family: 'Montserrat', sans-serif;
}

.haps {
    line-height: 27px;
    font-size: 20px;

}

.cent {
   
}
.sizings {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.ft-head {
    font-family: 'Montserrat', sans-serif;
    margin-top: 4%;
  
}

.ft-head2 {
    font-family: 'Montserrat', sans-serif;
  
  
}

.grift {
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
}

.hae {
    line-height: normal;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 8px;
}

.cuts {
    display: flex;
    flex-wrap: nowrap;
}

.corve {
    border-radius: 40px;
}

.corve1 {
    border-radius: 30px 30px 0 0;
}

.txtp {
    color: #000;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 27px; /* 84.375% */
}

.leading-relaxed {
    color: #011128;
font-family: Nunito Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 135% */
}

@media screen and (max-width: 768px) {
    .views {
        width: 100%;
    }

    .txts {
        font-size: 56px;
        line-height: 65px;
    }

    .haha {
        color: white;
        text-align: center;
    }
  
}


